<form>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Correo electrónico</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="w-full mb-3" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" />
  </mat-form-field>

  <button mat-flat-button [color]="'primary'" class="w-full"><span>Iniciar sesión</span></button>
</form>

<div class="flex items-baseline justify-center mt-8 font-medium mb-8">
  <span>¿Aún no tienes cuenta?</span>
  <a class="ml-1 text-primary hover:underline" [routerLink]="['/registro']">Crear cuenta</a>
</div>
