<div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
  <div class="w-12">
    <img src="../../../assets/images/logo.png" />
  </div>
  <h1 class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign in</h1>
  <div class="flex items-baseline mt-0.5 font-medium">
    <span>Don't have an account?</span>
    <a class="ml-1 text-primary hover:underline" [routerLink]="['/sign-up']">Sign up </a>
  </div>
  <form>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <button mat-flat-button [color]="'primary'" class="w-full"><span>Ingresar</span></button>
  </form>

  <div class="flex items-center">
    <div class="flex-auto mt-px border-t"></div>
    <div class="mx-2 text-secondary">Or continue with</div>
    <div class="flex-auto mt-px border-t"></div>
  </div>

  <div>
    <button class="w-full" type="button" mat-stroked-button>
      Ingresa con Google
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <button class="w-full" type="button" mat-stroked-button>
      Ingresa con Github
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
  </div>
</div>
